= bootstrap_form_for @raw_product do |f|
  - if @raw_product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@raw_product.errors.count, "error")} prohibited this raw_product from being saved:"
      %ul
        - @raw_product.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :title
  = f.text_field :category
  = f.text_field :subcategory
  = f.text_field :per_packet
  = f.text_field :length_mm
  = f.text_field :memory
  = f.text_field :dimensions
  = f.text_field :sku
  = f.text_field :minimum_order
  = f.text_field :item_price
  = f.text_field :per_unit
  = f.text_field :unit_price
  = f.submit 'Save'
