%h1 Listing raw_products

%table
  %tr
    %th Title
    %th Subcategory
    %th Length mm
    %th Per packet
    %th Dimensions
    %th Sku
    %th Minimum order
    %th Item price
    %th Per unit
    %th Unit price
    %th Item price
    %th Min order
    %th Min order cost
    %th Blank1
    %th
    %th
    %th

  - @raw_products.each do |raw_product|
    %tr
      %td= raw_product.title
      %td= raw_product.subcategory
      %td= raw_product.length_mm
      %td= raw_product.per_packet
      %td= raw_product.dimensions
      %td= raw_product.sku
      %td= raw_product.minimum_order
      %td= raw_product.item_price
      %td= raw_product.per_unit
      %td= raw_product.unit_price
      %td= raw_product.item_price
      %td= raw_product.min_order
      %td= raw_product.min_order_cost
      %td= raw_product.blank1
      %td= link_to 'Show', raw_product
      %td= link_to 'Edit', edit_raw_product_path(raw_product)
      %td= link_to 'Destroy', raw_product, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Raw product', new_raw_product_path
