= link_to 'New Item', new_item_path
= will_paginate :class => 'pagination pagination-centered'
%table.table.table-striped.table-condensed.table-bordered
  %tr
    %th Category
    %th Product
    %th Units
    %th pcs/pkg
    %th Length
    %th Memory
    %th Properties
    %th Vendor SKU
    %th Vendor Name
    %th Comment
    %th

  - @items.each do |item|
    %tr{:class => (item.units.any? ? (item.products.count > 1 ? 'info' : 'success') : 'error')}
      %td
        - if item.category
          = link_to item.category.name, item.category
        - elsif item.product
          = link_to 'add category', edit_product_path(item.product)
        - else
          = link_to 'add to product', edit_item_path(item)
      %td
        -if item.product
          = link_to item.product.name, item.product
        - else
          = link_to 'add to product', edit_item_path(item)
      %td
        %ul
          - for unit in item.units do
            %li= link_to unit.pricing, edit_unit_path(unit)
      %td= item.pieces_per_package
      %td= item.length
      %td= item.memory_id
      %td= item.properties
      %td
        =link_to item.vendor_sku, edit_item_path(item)
      %td= item.vendor_name
      %td= item.comment
      %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate :class => 'pagination pagination-centered'
