= link_to 'New Item', new_item_path
%table.table.table-striped.table-condensed
  %tr
    %th Category
    %th Product
    %th Pieces per package
    %th Length
    %th Unit
    %th Memory
    %th Properties
    %th Vendor sku
    %th Comment
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.category.name
      %td= item.product.name
      %td= item.pieces_per_package
      %td= item.length
      %td= item.unit_id
      %td= item.memory_id
      %td= item.properties
      %td= item.vendor_sku
      %td= item.comment
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }

