%p#notice= notice

%p
  %b Product:
  = @item.product_id
%p
  %b Pieces per package:
  = @item.pieces_per_package
%p
  %b Length:
  = @item.length
%p
  %b Unit:
  = @item.unit_id
%p
  %b Memory:
  = @item.memory_id
%p
  %b Properties:
  = @item.properties
%p
  %b Vendor sku:
  = @item.vendor_sku
%p
  %b Comment:
  = @item.comment

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
