%p#notice= notice

.page-header
  %h1
    = @item.properties
    %small
      = @item.product.name if @item.product
%dl.dl-horizontal
  %dt pcs/pkg:
  %dd= @item.pieces_per_package
  %dt Properties:
  %dd= @item.properties
  %dt Vendor SKU:
  %dd= @item.vendor_sku
  %dt Vendor Name:
  %dd= @item.vendor_name
  %dt Comment:
  %dd= @item.comment
%ul
  = render @item.products

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
