%p#notice= notice

%h1= best_in_place_if(@unit.product, @unit.product, :name)
%h3
  = @unit.pricing
  %small
    SKU[
    = best_in_place @unit, :store_sku
    ]
%p= @unit.comment
%ul
- for item in @unit.items do
  %li= item.name

= link_to 'Edit', edit_unit_path(@unit)
\|
= link_to 'Back', units_path
