%p#notice= notice

%h1= @unit.product.name if @unit.product
%h3 #{@unit.items_per_unit} @ $#{@unit.price_per_item} = #{@unit.items_per_unit * @unit.price_per_item}/unit, min. #{@unit.minimum_purchase}
%p= @unit.comment
%ul
- for item in @unit.items do
  %li= item.name

= link_to 'Edit', edit_unit_path(@unit)
\|
= link_to 'Back', units_path
