%ul
  - for category in @categories do
    %li
      %h1
        = best_in_place category, :name
        %small
          = category.comment
          = link_to 'view', category
          = link_to 'edit', edit_category_path(category)
      %ul
        = render category.products
%hr
%h1 Uncategorized Products
%ul
  - for product in Product.uncategorized.all do
    = render product
