%p#notice= notice

.page-header
  %h1
    = @category.name
    %small #{pluralize(@category.products.count, 'product')}, #{pluralize(@category.units.count, 'unit')}, #{pluralize(@category.items.count, 'item')}
%p
  = @category.comment

%ul= render @category.products

= link_to 'Edit', edit_category_path(@category)
