= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :category_id
    = f.collection_select :category_id, Category.all, :id, :name
  .field
    = f.label :comment
    = f.text_area :comment, :rows => 3
  .actions
    = f.submit 'Save'
