%p#notice= notice

.page-header
  %h1
    = best_in_place @product, :name
    %small
      SKU[
      = best_in_place @product, :store_sku
      ]
      = link_to 'edit', edit_product_path(@product)
      %br
      categorized in
      = link_to @product.category.name, @product.category
%ul
  = render @product.units

= link_to 'Back', products_path
